<div class="main-header">
 <div class="left-header">
    <%# <div class="header-icon">
      <%= image_tag "_i_icon_11272_icon_112720_256.png", class:"stethoscope-icon" %>
    <%# </div> %> 
    <div class="header-title">
      今日のコンディションを診断しましょう！
    </div>
  </div>
</div>

<div class="diagnoses">
  <div class="questions">
   
      <% 10.times do |question| %>
       <div class="question">
        q.今日の体調はどうですか？
        </div>
        <% end %>
       <div class="diagnosis">
        診断する
      </div>
    
  </div>
</div>

<div class="main-footer">
</div>