<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Username</a>
  </div>
  <div class="edit-user">
    <a href="#">user情報を編集</a>
  </div>
</div>

<div class="side-menu">
  <div class="column">
    <div class="column">
      <a href="#">column</a>
    </div>
  </div>
  <div class="week-condition">
    <div class="week-condition">
      <a href="#">今週のコンディション</a>
    </div>
  </div>
</div>