<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Username</a>
  </div>
  <div class="edit-user">
    <a href="#">user情報を編集</a>
  </div>
</div>

<div class="side-menu">
  <div class="column">
      <a href="#">column</a>
  </div>
  <div class="week-condition">
      <a href="#">今週のコンディション</a>
  </div>
  <div class="week-condition-icon">
      <%# <%= image_tag "_i_icon_11272_icon_112720_256.png", class:"stethoscope-icon" %> 
  </div>
  
</div>

<%# <div class="side-menu">
  <div class="column">
    <div class="column">
      <a href="#">column</a>
    </div>
  </div>
  <div class="week-condition-icon">
    <div class="week-condition">
      <a href="#"></a>
    </div>
  </div>
  <div class="week-condition">
    <div class="week-condition">
      <a href="#">今週のコンディション</a>
    </div>
  </div>
</div> %>